<a href="https://colab.research.google.com/github/mariliaoliv/Fundamentos-de-Programa-o/blob/main/ATIVIDADE_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Elabore um código em que existe as variáveis : aluno, nota1, nota2,nota3, media. Neste código você deve escolher uma string para a variável aluno, float para cada nota. Pesquise o cálculo da média aritmética e aplique o resuldado do cálculo na variável media. Por fim, usando o comando print, mostre o nome do aluno ao lado de sua media. Use a função print para mostrar o tipo da variável aluno e tipo da variável media.

In [ ]:
#Resposta
aluno = "Itachi"
nota1 = 8.5
nota2 = 9.5
nota3 = 10
media = (nota1+nota2+nota3)/3
#exibição da variável media
print(media) 
#exibição do tipo da variavel aluno
print(type(aluno))
#exibição do tipo da variavel media
print(type(media))

9.333333333333334
<class 'str'>
<class 'float'>

2) ELabore um código que realiza a concatenção de strings para formar um nome. Ao fim, exiba, através do comando print, o nome concatenado (nome_completo).

In [4]:
#RESPOSTA
nome = 'Itachi'
sobrenome = ' Uchiha' 
nome_completo = (nome + sobrenome) 
#exibição do nome concatenado
print(nome_completo)

Itachi Uchiha

3) Elabore um código em que seja criada uma lista de alimentos em forma de string. Nesta lista você deve escolher  10 alimentos.
* a) realize o print do último alimento usando index negativo
* b) realize o print do quarto elemento da lista
* c) realize o print dos 5 primeiros elementos da lista
* d) realize o print do 3 ultimos elementos da lista
* e) realize o print do terceiro até o sétimo elemento da lista

In [5]:
#Resposta
lista_de_alimentos = ["macarrão", "feijão", "arroz", "carne", "cuscuz", "batata", "ovo", "leite", "queijo", "banana"]
#item a
print(lista_de_alimentos[-1])
#item b
print(lista_de_alimentos[3])
#item c
print(lista_de_alimentos[0:5])
#item d
print(lista_de_alimentos[-3:])
#item e
print(lista_de_alimentos[2:7])

banana
carne
['macarrão', 'feijão', 'arroz', 'carne', 'cuscuz']
['leite', 'queijo', 'banana']
['arroz', 'carne', 'cuscuz', 'batata', 'ovo']

4) Adapte a lista de alimentos criada na questão 3 para incluir o preço da cada alimento. Após cada string você deve incluir um valor numérico que representa o preço do alimento
* a) Crie uma variavel `gasto_total` que recebe a soma de todos os preços, acessando a lista pelos indexes.
* b) mostre via print o valor da variável `gasto_total`
* c) crie uma nova lista chamada `alimentos_mais_caros` que contem os 3 alimentos mais caros. Nessa lista deve conter os alimentos com valor ao lado. a inclusão dos elementos na lista deve ser via index. Ex: `lista_nova = [lista_antiga[2],lista_antiga[3]...]`
* d) mostre via print a lista `alimentos_mais_caros`

In [ ]:
#resposta
lista_de_alimentos_com_preco = ["macarrão", 6.75, "feijão", 9.99,
                                 "arroz", 8.50, "carne", 20.0, "cuscuz", 2.19, "batata", 2.0, "ovo", 1.50, "leite", 7.90,
                                   "queijo",30.0 , "banana", 1.50]
#item a
gasto_total = (lista_de_alimentos_com_preco[1]+lista_de_alimentos_com_preco[3]+lista_de_alimentos_com_preco[5]+ 
             lista_de_alimentos_com_preco[7]+lista_de_alimentos_com_preco[9]+lista_de_alimentos_com_preco[11]+
             lista_de_alimentos_com_preco[13]+lista_de_alimentos_com_preco[15]+lista_de_alimentos_com_preco[17]+
               lista_de_alimentos_com_preco[19]) 
#item b
print(gasto_total)
#item c
alimentos_mais_caros = [lista_de_alimentos_com_preco[2:4], lista_de_alimentos_com_preco[6:8], lista_de_alimentos_com_preco[16:18]]
#item d
print(alimentos_mais_caros)

90.33
[['feijão', 9.99], ['carne', 20.0], ['queijo', 30.0]]

5) Adpate a lista de alimentos criada na questão 4. Agora a estrutura deve ser uma lista de listas. cada elemento com preço deve ser um lista, ou seja, a lista de alimentos deve conter 5 listas, em que cada lista possui um alimento e seu preço.
* a) Crie uma variável `lista3` para ammazenar a terceiira lista contida na lista de alimentos. 
* b) Exiba a variável `lista3` 
* c) Crie uma variável `lista2a4` para armazenar da segunda até a quarta lista contida na lsita de alimentos.
* d) Acessando os indexes da lista de alimentos no modo exemplo `lista[id1][id2]` realize os prints:
** d1) do preço do terceiro alimento da lista
** d2) do alimento da quarta lista
** d3) do preço do quinto elemento da lista
** d4) do alimento da primeira lista.

In [ ]:
#resposta
lista_de_alimentos_adaptada = [["macarrão", 6.75], ["feijão", 9.99],
                                ["arroz", 8.50], ["carne", 20.0], ["cuscuz", 2.19], ["batata", 2.0],
                                  ["ovo", 1.50], ["leite", 7.90],
                                   ["queijo",30.0] , ["banana", 1.50]]
#item a
lista3 = (lista_de_alimentos_adaptada[2])
#item b
print(lista3)
#item c
lista2a4 = (lista_de_alimentos_adaptada[1:4])
#item d1
print(lista_de_alimentos_adaptada[2][1])
#item d2
print(lista_de_alimentos_adaptada[3][0])
#item d3
print(lista_de_alimentos_adaptada[4][1])
#item d4
print(lista_de_alimentos_adaptada[0][0])

['arroz', 8.5]
8.5
carne
2.19
macarrão