<a href="https://colab.research.google.com/github/mariliaoliv/Fundamentos-de-Programa-o/blob/main/Aula_2_fundamentos_de_programa%C3%A7%C3%A3o_CD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# creat the areas list
areas= ["hallway", 11.25, "kitchen", 18, "living room", 20, "bedroom", 10.75, "bathoroom", 9.50]
# sum of kiteche and bathoroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[7]
print(eat_sleep_area)

28.75

In [2]:
#crie a lista de areas e faça algumas alteraçoes
areas= ["corredor", 11.25, "cozinha",18, "zona fria", 20, "quarto", 10.75, "banheiro", 10.50]

#add poolhouse a areas, a nova lista é areas_1]
areas_1= ["corredor", 11.25, "cozinha",18, "zona fria", 20, "quarto", 10.75, "banheiro", 10.50, "poolhouse", 24.5]

#add garagem a areas_1, a nova lista é areas_2
areas_2= ["corredor", 11.25, "cozinha",18, "zona fria", 20, "quarto", 10.75, "banheiro", 10.50, "poolhouse", 24.5, "garagem", 15.5]
print(areas_2)

['corredor', 11.25, 'cozinha', 18, 'zona fria', 20, 'quarto', 10.75, 'banheiro', 10.5, 'poolhouse', 24.5, 'garagem', 15.5]

In [3]:
# creat list areas
areas = [11.25, 18, 20, 10.75, 10.50]
# creat areas_copy
areas_copy = areas
# change areas copy
areas_copy[0] = 5.0
# print areas
print(areas)

[5.0, 18, 20, 10.75, 10.5]

In [ ]:
areas= ["hallway", 11.25, "kitchen", 18, "living room", 20, "bedroom", 10.75, "bathoroom", 9.50]
# acesse os 6 primeiros elementos de areas e atribua a uma nova lista: downstairs
down =  areas[0:5]
print(down)

['hallway', 11.25, 'kitchen', 18, 'living room']

In [ ]:
x = [["a", "b","c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
print(x[2][0])
print(x[2][:2])

g
['g', 'h']

In [ ]:
# áreas dos compartimentos(em metros quadrados)
hall = 11.25
kit = 18
liv = 20
bed = 10.75
bath = 9.50
# house information as list of lists
house = [["hal", 11.25],["kit", 18],["liv", 20],["bed", 10.75],["bath", 9.50]]
house[-1][1]

9.5

In [ ]:
áreas = ["hall", 11.25, "kit", 18, "liv", 20, "bed", 10.75, "bath", 9.50]
# troque o valor de bathroom de 9.50 para 10.50
áreas[9] = 10.5
print(áreas)

['hall', 11.25, 'kit', 18, 'liv', 20, 'bed', 10.75, 'bath', 10.5]

In [ ]:
upt = areas[-5:-1]
print(upt)

[20, 'bedroom', 10.75, 'bathoroom']

In [ ]:
fam = ["liz",1.73,"emma", 1.68, "mom", 1.71,"dad",1.89]
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
print(fam[7])

1.89

In [ ]:
print(fam[0:2])

['liz', 1.73]

In [ ]:
# como aumentar ou diminuir uma lista
fam+["me",1.79]

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.79]

In [ ]:
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
print(fam)
fam_ext = fam+["me",1.79]
del(fam[2])
print(fam)
print(fam_ext)
del( fam_ext[2])
fam_ext

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
['liz', 1.73, 1.68, 'mom', 1.71, 'dad', 1.89]
['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.79]

['liz', 1.73, 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.79]

In [ ]:
x = ["a","b","c"]
y = x
y[1] = "z"
y

['a', 'z', 'c']

In [ ]:
x

['a', 'z', 'c']

In [ ]:
x = ["a","b","c"]
y = list(x) 
y[2] = "d"
print(x)
print(y)

['a', 'b', 'c']
['a', 'b', 'd']